$contentPadding: var(--im-content-padding);
$rowMargin: var(--im-row-margin);
.container{
    padding-left: $contentPadding;
    padding-right: $contentPadding;
    >.row{
        margin-left: $rowMargin;
        margin-right: $rowMargin;
        >*{
            padding-left: $contentPadding;
            padding-right: $contentPadding;
        }
    }
}
