@import 'root';
@import 'base';

@mixin imFlexGenerate($flexible, $media, $screen){
    @media (max-width:#{$media}){
        @for $i from 1 through $flexible{
            .im-flex-#{$screen}-#{$i}{
                flex: 0 0 calc(100% / $flexible * $i );
                padding-left: $contentPadding;
                padding-right: $contentPadding;
            }
        }
    }
}

@include imFlexGenerate(6,1920,xl);
@include imFlexGenerate(6,1500,md);
@include imFlexGenerate(6,992,sm);
@include imFlexGenerate(3,480,xs);
@include imFlexGenerate(53,1953,rz);