@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);
:root {
  --bg-body: #272822;
  --color-font: #d89e00;
  --col-bg: #000000;
  --col-padding-bg: #49d8fc3d;
}

/* google icons */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

/* variable */
:root {
  --im-content-padding: 10px;
  --im-row-margin: calc(var(var(--im-content-padding) * -1));
}

/* reset */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*,
html,
body,
div,
input,
textarea,
select,
span,
a,
button,
table,
tr,
td,
th,
ul,
ol,
li,
button {
  outline: none;
  outline-color: transparent;
  outline-width: 0;
  outline-style: none;
  outline-offset: initial;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

a,
a:focus,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
  list-style-type: none;
}

/* general */
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  background: var(--bg-body);
}

.container {
  width: 100%;
  max-width: 1920px;
  padding-left: var(--im-content-padding);
  padding-right: var(--im-content-padding);
}
.container > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: var(--im-row-margin);
  margin-right: var(--im-row-margin);
}
.container > .row > [class*=col] {
  padding-left: var(--im-content-padding);
  padding-right: var(--im-content-padding);
}

/* current */
body {
  background: var(--bg-body);
}

h1 {
  font-size: 1.5rem;
  color: var(--color-font);
}

.container {
  padding-top: var(--im-content-padding);
  padding-bottom: var(--im-content-padding);
}

.row {
  padding: calc(var(--im-content-padding) / 2) 0;
}

[class*=col] {
  color: var(--color-font);
  font-size: 1rem;
  background: var(--col-bg);
  padding: 0.5rem 0;
  position: relative;
  text-align: center;
  margin-bottom: 0.5rem;
  display: none;
}
[class*=col]:before, [class*=col]:after {
  content: "";
  position: absolute;
  width: var(--im-content-padding);
  top: 0;
  bottom: 0;
  background: var(--col-padding-bg);
}
[class*=col]:before {
  left: 0;
}
[class*=col]:after {
  right: 0;
}

@media (max-width: 1920px) {
  .col-xl-1 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 5%;
            flex: 0 0 5%;
    max-width: 5%;
  }
  .col-xl-2 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 10%;
            flex: 0 0 10%;
    max-width: 10%;
  }
  .col-xl-3 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15%;
            flex: 0 0 15%;
    max-width: 15%;
  }
  .col-xl-4 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .col-xl-5 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-6 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    max-width: 30%;
  }
  .col-xl-7 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35%;
            flex: 0 0 35%;
    max-width: 35%;
  }
  .col-xl-8 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    max-width: 40%;
  }
  .col-xl-9 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    max-width: 45%;
  }
  .col-xl-10 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-11 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 55%;
            flex: 0 0 55%;
    max-width: 55%;
  }
  .col-xl-12 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    max-width: 60%;
  }
  .col-xl-13 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 65%;
            flex: 0 0 65%;
    max-width: 65%;
  }
  .col-xl-14 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    max-width: 70%;
  }
  .col-xl-15 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-16 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    max-width: 80%;
  }
  .col-xl-17 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 85%;
            flex: 0 0 85%;
    max-width: 85%;
  }
  .col-xl-18 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    max-width: 90%;
  }
  .col-xl-19 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 95%;
            flex: 0 0 95%;
    max-width: 95%;
  }
  .col-xl-20 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width: 1920px) {
  .col-md-1 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-md-2 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-md-3 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-md-5 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-md-6 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-md-8 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-md-9 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-md-11 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-md-12 {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}/*# sourceMappingURL=im-flex-generate.css.map */