@import 'root';
@import 'base';

@mixin imFlexGenerate($flexible,$media,$screen){
    @media (max-width:#{$media}px){
        @for $i from 1 through $flexible{
            .col-#{$screen}-#{$i}{
                display: block;
                flex: 0 0 calc(100% / $flexible * $i);
                max-width: calc(100% / $flexible * $i);
            }
        }
    }
} 

@include imFlexGenerate(20,1920,xl);
@include imFlexGenerate(12,1920,md);
